.appContentContainer {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

.topProfile {
    background-color: #74B2BC;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.topContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.aboutMe {
    width: 80%;
}

.bradyPic {
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 85px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 85px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 85px -19px rgba(0,0,0,0.75);
    margin-bottom: 18px;
}

.links {
    width: 500px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.proLink:hover {
    cursor: pointer;
}

.projects {
    display: flex;
    justify-content: center;
    background-color: #F3F6ED;
}

.projectContent {
    padding: 20px;
}

.project {
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    -webkit-box-shadow: 10px 10px 85px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 85px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 85px -19px rgba(0,0,0,0.75);
}

.project:hover {
    cursor: pointer;
}

.projectImg {
    width: 600px;
}

.projectTitle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.projectInfo {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 10px;

}